body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  display: table;
}

canvas {
  width: 900px;
  height: 200px;
  display: block;
  position: relative;
  background: transparent;
  margin: 40px auto;
}

body {
  background: #000000;
  background-image: url("https://64.media.tumblr.com/6548d88b75e52283f0b7298c0d400fe7/tumblr_ng47xwswbF1r3sl2fo1_500.jpg");
  background-position: top center;
  background-size: cover;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}