@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  display: table;
}

canvas {
  width: 900px;
  height: 200px;
  display: block;
  position: relative;
  background: transparent;
  margin: 40px auto;
}

body {
  background: #000000;
  background-image: url("https://lh3.googleusercontent.com/Q5Li4-x8gXjhitzttbvFf03eoRMgAqJB_lQWyGolZYn6bheU__KXOfQtd_xjuMoId1UcRRguWZG5Zcw1M26BwDhMJOCKayEwY_XY7Ejkz9bwOw6NONVfW-OxSl0-_wnYjFpHjcouijC_aUH0t_COICjeccS0bgcjwNUWh8EbDDAq51dtbOvH2rdWpMbLNB7OMDc_0o1ic4KTerFNyzjf_1D8oRRyEbicfwkkeyEYPQRXl2owU1JwfWD5m6p7cmjGHXWoDqH53QyjxjVJW8nmcIBOQPVaiakEvAcd6M0QmVpwP7XkWLDyt_sl7eGSXhNWobfBwwPuEOFNR5mAhcq_NB5DV2uZPOAIX9Dnx27vST_srQP_Am1EDKyra6zR1mWTdb3lB7BdyMIxVjkfjZkaVE_tQU7O-Wt-KnhxlKYGpcAYCvWM3McepeNOIWahbOdv9ZfNySMMvxI9oqJVoFNUMktZGd9TBC94rpTa3FA23mVJw8pM7ejWED4lkiXwN-yphK9dg1tv715Bcnf80kw2b5TVn0zA4IfqX7bZuevzqgB4ywEfgRV1S3R6IRmzPfn-uMzZ-0IfQpJ4McPR0dmkJu7159sLdZkDwc5b1KCiLq1WfnuFE7NQWHxcs8G-U4UwuqJDeFua7uAjGL32xPqkatGUe-rRGzkilRgM8o0AGhAjIVOBmwe0COcFK1GPiC5_wovn8JULxj-Fr0-Q0VFGUBJvtY97qM2uc0pEufWByYbOLBFyE2E-zO-11hk1cB8=w1404-h1872-no?authuser=0");
  background-position: top center;
  background-size: cover;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.names {
  font-family: "Copperplate";
}

.the-wedding {
  font-family: 'Schoolbell', arial, serif; 
}